html {
	--color-1:#161616;
	--color-2:#1a1b1c;
	--color-3:#202124;
	--color-4:#333;
	--text-color-1:#fff;
	--text-color-2:#e1eaf2;
	--text-color-3:#d3dee9;
	--text-color-4:#666;
	--text-color-5:#555;
	--active-color:#ff5722;
	--shadow-color:#121314;
	--bg-color:var(--color-3);
}
::-webkit-scrollbar {
	display:none;
}
* {
	box-sizing:border-box;
	border:none;
	color:inherit;
	margin:0;
	padding:0;
	outline:none;
	overflow:hidden;
}
html, body {
	width:100%;
	height:100%;
}
html {
	background:var(--bg-color);
	color:var(--text-color-5);
}
body {
	font-size:13px;
	font-family:system-ui;
	user-select:none;
}
svg {
	stroke:currentColor;
	fill:currentColor;
}
input {
	color:inherit;
	background:transparent;
	width:100%;
	height:100%;
	text-overflow:ellipsis;
	cursor:default;
}
input:focus {
	cursor:text;
}
input:focus::placeholder {
	color:transparent;
}
input::placeholder {
	color:var(--text-color-5);
	transition:color 200ms;
}
ui-button {
	display:flex;
	align-items:center;
	justify-content:center;
	height:100%;
}
.CSView {
	display:block;
	width:100%;
	height:100%;
}
.CSOnDrag {
	cursor:grabbing;
	user-select:none;
}
.CSOnDrag:before {
	content:"";
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:99;
	pointer-events:none;
}
.CSCenter {
	display:flex;
	align-items:center;
	justify-content:center;
}
.CSFlexItem {
	flex:1;
	height:100%;
}
.CSGlobalMessage {
	background:#3b63a0;
	color:#fff;
	border-radius:5px;
	padding:9px 25px;
	text-align:center;
	text-overflow:ellipsis;
	max-width:100%;
	font-size:14px;
}
.CSAppView {
	display:block;
	width:100%;
	height:100%;
	padding:60px 20px 0;
}
.CSAppViewBottom {
	position:absolute;
	bottom:30px;
	left:50%;
	transform:translateX(-50%);
	white-space:nowrap;
	box-shadow:0 2px 6px 0 var(--shadow-color);
}
.CSEditView {
	display:flex;
	flex-flow:column;
}
.CSItemsView {
	flex:1;
	padding-top:15px;
	overflow-y:scroll;
}
.CSItemsView:before {
	content:"";
	height:30px;
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	background:linear-gradient(to bottom, rgba(255,255,255,0) 0%, var(--bg-color) 100%);
	border-top-left-radius:50%;
	border-top-right-radius:50%;
}
.CSItemsView::after {
	content:"";
	display:block;
	width:100%;
	height:40px;
}
.CSMenu {
	display:flex;
	justify-content:center;
	height:40px;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	border-bottom:1px solid var(--color-2);
}
.CSMenuItem {
	color:var(--text-color-4);
	border-bottom:2px solid;
	border-color:transparent;
	padding:6px 10px 0;
	font-size:15px;
	font-weight:bold;
}
.CSMenuItem.CSActive {
	color:var(--text-color-2);
	border-color:var(--text-color-2);
}
.CSAddItem {
	background:var(--color-2);
	display:flex;
	flex-shrink:0;
	align-items:center;
	height:40px;
	border:1px solid var(--color-1);
	border-radius:25px;
	position:relative;
}
.CSAddItemIcon {
	position:absolute;
	width:38px;
	height:38px;
	padding:12px;
}
.CSAddItem input {
	color:var(--text-color-2);
	line-height:32px;
	padding-left:38px;
	padding-bottom:1px;
	position:relative;
	font-size:15px;
}
.CSItem {
	display:flex;
	align-items:center;
	padding:6px;
	border-left:0 solid var(--active-color);
	transition:border-width 100ms, box-shadow 100ms;
}
.CSItem.CSDrag {
	background:var(--bg-color);
	box-shadow:0px 4px 8px var(--shadow-color);
	transition:box-shadow 250ms;
}
.CSItem.CSDragOver {
	border-left-width:4px;
}
.CSItemDrag {
	width:20px;
	margin-right:8px;
}
.CSItemDrag:hover {
	cursor:grabbing;
}
.CSItemInputs {
	flex:1;
	padding-right:20px;
}
.CSItemInput {
	display:block;
	color:var(--text-color-1);
	height:20px;
	padding-left:6px;
	font-size:14px;
	transition:border-left 200ms;
}
.CSItemInput::placeholder,
.CSItemInput[name=link] {
	color:var(--text-color-4);
	caret-color:var(--text-color-1);
}
.CSItemMode {
	color:var(--text-color-5);
	width:18px;
	opacity:.75;
	transition:opacity 200ms;
}
.CSItemMode:hover {
	opacity:1;
}
.CSItemMode[value="BOTH"] {
	color:var(--text-color-1);
}
.CSItemMode[value="INCG"] {
	color:var(--text-color-1);
}
.CSTrashCan {
	background:var(--color-4);
	color:var(--text-color-1);
	width:50px;
	height:50px;
	padding:16px;
	border-radius:50%;
	transition:background 150ms;
}
.CSTrashCan.CSDragOver {
	background:crimson;
}
.CSOverscroll::after {
	content:"";
	display:block;
	width:100%;
	height:60%;
}